*{
    margin: 0;
}
.headerLinks{
    background-color: rgba(0, 0, 0, 0.95);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    z-index: 9;
}
.headerLinks .link{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-family: 'Oswald';
    cursor: pointer;
    margin: 20px;
    transition: .3s;
}
.headerLinks .link:hover{
    color: #883C04;
}

#none{
    display: none;
}
#flex{
    display: flex;
}